@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    transition: 0.2s;
    scroll-behavior: smooth;
}
body {

    background-color: #5372f0;
}
.title {
    display: flex;
    justify-content: center;
}
.title h1{
    position: absolute;
    margin-top: 200px;
    color: #fff;
}
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper{
    background: #fff;
    max-width: 1000px;
    overflow-x: hidden;
    border-radius: 15px;
    padding: 20px 30px;
    position: relative;
}
.wrapper .icon{
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}
.icon:first-child{
    left: 0;
    background: linear-gradient(90deg, #fff 70%, transparent);
    display: none;
}
.icon:last-child{
    right: 0;
    background: linear-gradient(-90deg, #fff 70%, transparent);
    justify-content: flex-end;
}
.icon i {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    font-size: 1.2rem;
    border: 1px solid #d8d5f2;
    cursor: pointer;
}
.icon i:hover{
    background: #d8d5f2;
}
.icon:first-child i {
    margin-left: 15px;
}
.icon:last-child i {
    margin-right: 15px;
}
.wrapper .tabs-box{
    display: flex;
    gap: 12px;
    overflow-x: hidden;
}
.tabs-box .tab {
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.16rem;
    border: 1px solid #d8d5f2;
    background: #f5f4fd;
    padding: 12px 20px;
    border-radius: 30px;
}
.tabs-box .tab:hover {
    background: #d8d5f2;
}
.tabs-box.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.tabs-box.dragging .tab{
    user-select: none;
    pointer-events: none;
}
.tabs-box .tab.active{
    color: #fff;
    border-color: transparent;
    background: #5372f0;
}